[2013-09-19 17:58] huehnerhose opened #1 "Errors using Python3.3 / string<->bytes"
Hi,

I just ran into a type error, when using python3.3.
`TypeError: expected bytes, str found`

I had to fix this by calling the function with encoded strings:

[code]

Maybe a simple parameter check would be enough?

Thanks

[2013-09-20 18:13] #1 closed, assigned to gfairchild

[2014-05-19 12:09] gr33ndata opened #2 "Substring Levenshtein"
Is it possible to add a method, so when given substring a, string b, and a maximum normalized edit distance value; the method returns indexes for all occurrences of a in b, where the normalized Levenshtein is lower or equal to the given maximum edit distance value.

[2014-08-11 22:30] #2 closed, assigned to nobody

[2015-03-25 11:23] CaptSolo opened #4 "distance_withNPArray: Expected unicode, got numpy.unicode_"
Found a problem running `damerau_levenshtein_distance_withNPArray` with an array of Unicode strings under Python 2.7:

[code]

Environment: Python 2.7 (under Mac OS X), NumPy 1.9.2

[2015-03-25 11:28] CaptSolo commented on #4
The library was installed from this GIT repository using PIP.

Installation log:
[code]

[2015-03-25 16:24] gfairchild commented on #4
I wonder if @ovarene has seen this (he made the pull request - #3). I haven't yet had a chance to test this yet (which is why it's not in the PyPI install). I'm hoping to be able to test it in the next couple days.

[2015-03-25 17:54] ovarene commented on #4
the specified dtype is incorrect, you should use dtype='S'

In [17]: import numpy as np
In [18]: from pyxdameraulevenshtein import damerau_levenshtein_distance_withNPArray
In [19]: store = { "key1":"value1","key2":"value2" }
In [20]: keys = np.array(store.keys(),dtype='S')
In [21]: damerau_levenshtein_distance_withNPArray("test",keys)
Out[21]: array([3, 3])
python 2.7.6 - numpy 1.9.2

[2015-03-25 18:16] CaptSolo commented on #4
the use of dtype = "S" is not an obvious choice when the string is Unicode (but I am not exprienced with NumPy so might be mistaken) and throws encoding errors if there are non-ASCII characters:
[code]
does this mean that strings should be encoded as UTF-8 before being stored in NumPy array and that the library will know to convert them back to Unicode?

[2015-03-25 18:43] ovarene commented on #4
In [1]: from pyxdameraulevenshtein import damerau_levenshtein_distance_withNPArray
In [2]: import numpy as np
In [3]: v = ["éllo","màlo"]
In [4]: d = np.array(v)
In [6]: damerau_levenshtein_distance_withNPArray("hello",d)
Out[6]: array([2, 3])

[2015-03-25 18:46] ovarene commented on #4
You have to set it to dtype='S'
because of this function called inside damereau_levensthein_distance()

cdef unicode to_unicode(s):
"""
Convert s to a proper unicode type (handles difference between Python 2 and 3). Code comes from
https://groups.google.com/d/msg/cython-users/ofT3fo48ohs/rrf3dtbHkm4J
"""
if isinstance(s, bytes):
return ( < bytes > s).decode('UTF-8')
return s

[2015-03-25 19:02] ovarene commented on #4
That's the way I had to make it work for my use-case.
(My use-case is reading data files via pandas with utf-8 encoding)

Hope it helps

if you have any idea how to make it work for your own use case, please feel free to provide a patch, that would be indeed a very welcomed contribution.

best regards

[2015-03-25 21:13] ovarene commented on #4
The function to_unicode() is expecting a bytestring
so to be able to use this with your unicode array, you could do something like :

In [15]: import numpy as np
In [16]: from pyxdameraulevenshtein import damerau_levenshtein_distance_withNPArray  as dlda
In [17]: a = (u"Lācis", u"lieliskā piektdiena")
In [18]: b = np.array( [ x.encode('utf8') for x in a ] )
In [19]: dlda("test",b)
Out[19]: array([

[2015-04-28 00:27] gfairchild commented on #4
@CaptSolo, are you happy with the resolution of this issue? Can it be closed?

[2015-05-19 15:44] gfairchild commented on #4
I'm going to go ahead and close this issue since there's been no activity on it in about 2 months.

[2015-05-19 15:44] #4 closed

[2015-11-19 12:01] paulkernfeld opened #6 "Calculated distance seems to be incorrect in some situations"
It's definitely possible that I am doing something totally silly here, but I think that this algorithm is returning an incorrect value for a pair of inputs that I tried.

[code]

I believe that the Damerau-Levenshtein distance between these two sequences is actually 3, not 4. The words can be transformed as follows:

After 0 operations: 49482
After 1 operations: 49842 (transpose 8 and 4)
After 2 o

[2015-11-19 12:50] CaptSolo commented on #6
Left a comment about this on another ticket / pull request a while ago: https://github.com/gfairchild/pyxDamerauLevenshtein/pull/3#issuecomment-86459461

Is it possible that the library calculates the optimal string alignment distance instead of the true Damerau-Levenshtein distance: https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance#Optimal_string_alignment_distance ?

[2015-11-19 17:58] gfairchild commented on #6
First off, sorry @CaptSolo, I somehow totally missed your comment on #3. I didn't mean to ignore you! I just discovered that we can use Wolfram|Alpha to compute the DL distance. @paulkernfeld, [W|A agrees with you](http://www.wolframalpha.com/input/?i=Damerau+Levenshtein+distance+between+%2249482%22+and+%2248924%22).

I need to run a few tests.

[2015-12-16 21:51] gfairchild commented on #6
I based my code on [this pure Python implementation](http://mwh.geek.nz/2009/04/26/python-damerau-levenshtein-distance/). I just tested that implementation, and it generates the same result that @paulkernfeld identified in the original post.

I didn't actually realize there were two variants on the DL algorithm until @CaptSolo pointed it out. Michael Homer and I are definitely implementing the opt

[2015-12-29 13:55] CaptSolo commented on #6
@gfairchild : sounds good re. implementing true DL distance.

However, some users may be surprised when results returned by DL functions change between versions. Would need a good way how to let users know that there is a major change in how these methods work.

(Another option would be to add new methods for both versions and deprecate the old method names so that existing code would break and pe

[2015-12-30 05:03] gfairchild commented on #6
@CaptSolo, that's a totally reasonable point (about just changing the output unexpectedly). As for the proper way to handle this, I like the deprecation idea, but I'm certainly open to other thoughts as well.

I'm incredibly busy right now, though, and haven't been able to get to this like I hoped. Through the magic of open source, I'd love it if someone could submit a PR on this issue.

[2016-07-18 22:42] gfairchild commented on #6
I just released v1.4.1, which, among other things, clarifies both in the README and in the code comments that this implementation is of the optimal string alignment distance algorithm.

I'm definitely willing to receive a PR that adds other algorithms, but I think this is sufficient for now, so I'm closing this issue.

[2016-07-18 22:42] #6 closed

[2016-08-10 08:59] brunsgaard opened #8 "Create wheels for pypi"
Is this a thing that could be done?

[2016-08-10 14:04] gfairchild commented on #8
I need to look into it. I believe [these docs](https://packaging.python.org/distributing/#wheels) describe how to do it. Because this project contains a compiled extension (i.e., it contains C code that needs to be compiled), I need to make sure I get the wheel correct. It looks like I just need to create [platform wheels](https://packaging.python.org/distributing/#platform-wheels).

[2016-08-12 08:48] brunsgaard commented on #8
I know about the C code, that is why I really would like a wheel, I have a developer on my team that would like to use your package. But as of now I am blocking it as the production servers should not compile C code. We only use wheels in productions.

[2016-08-12 08:51] brunsgaard commented on #8
It is just best practice to upload wheels today instead of source distributions. :) It makes it a little more hard for you, because you have to create the wheels, for all the different platforms. But it is better you do it right once. Instead like in this situation where the users (like us) have to build their own wheel.

[2016-08-12 15:02] gfairchild commented on #8
I'll definitely look into it. I think I can set aside some time Sunday to deal with PR #7 and this issue.

[2016-08-12 15:07] brunsgaard commented on #8
@gfairchild, I can help you if you want. I have access to osx, freebsd and linux platforms.

[2016-08-12 15:09] gfairchild commented on #8
Hm, looking at [the docs](https://packaging.python.org/distributing/#platform-wheels):

I've got access to Windows and OS X. I have access to Linux as well, but it doesn't look like that'll be useful.

[2016-08-12 15:11] brunsgaard commented on #8
tel that to the numpy people https://pypi.python.org/pypi/numpy there is alot of linux wheel out there. I will look into it too :)

[2016-08-12 15:11] gfairchild commented on #8
Ok! In that case, I can totally look into it.

[2016-08-12 15:16] brunsgaard commented on #8
I think we should look into this project https://github.com/pypa/manylinux

[2016-08-12 15:20] gfairchild commented on #8
Nice find. I hadn't heard of that before.

[2016-08-19 17:41] gfairchild commented on #8
I just built and uploaded an OS X wheel. Looking into manylinux.

[2016-10-26 04:24] CJ-Wright commented on #8
Potentially related, there is a [conda-forge recipe/build for this](https://github.com/conda-forge/pyxdameraulevenshtein-feedstock) so you should be able to `conda install` this across platforms.

[2016-10-26 15:41] gfairchild commented on #8
Cool! Thanks for bringing that to my attention. Really neat for that to exist.

[2016-10-26 15:57] CJ-Wright commented on #8
Feel free to PR/issue against it. I went from the PyPi release, which is missing the tests and licence.

[2017-05-12 21:17] sergiocorreia commented on #2
Hi Geoffrey,

There is a very useful use case for this option: implementing Peter Norvig's [spellchecker](http://norvig.com/spell-correct.html)

His `edits()` and `edits2()` functions return all the words within a distance of 1-2 in the Damerau-Levenshtein metric. The problem is that they are quite slow as they are implemented in pure Python (right now they are taking 90% of the time in a script I

[2017-05-20 05:47] gfairchild commented on #2
Good suggestion.

[2017-08-01 10:57] Stranger6667 commented on #8
Hello! Any news on this topic?

[2017-08-01 15:04] gfairchild commented on #8
Unfortunately not. Work has been absolutely crazy this year. However, I'd love it if someone would like to help me out by issuing a PR.

[2018-04-04 06:15] funkindy opened #11 "importing pyxdameraulevenshtein crashes python kernel"
Windows 10, Python 3.5, pyxdameraulevenshtein v1.5

I get "Kernel died, restarting" anytime i execute this line (in separate venv):

`import pyxdameraulevenshtein`

Seems like OS issue.

[2018-04-04 14:12] gfairchild commented on #11
How did you install it? Did the pip install succeed?

[2018-04-05 11:43] funkindy commented on #11
I have installed it vie pip as the dependency of textdistance package (i opened an issue there but they forwarded me here). So i just did this:

`pip install textdistance[extras]`

to install. And it succeded.

[2018-04-05 13:30] gfairchild commented on #11
Can you try installing `pyxdameraulevenshtein` by itself using pip and let me know if that works?

[2018-04-05 15:55] gfairchild commented on #11
Would you mind creating a fresh virtual environment and installing with the following command?:

[code]

Please paste the contents of that output here so that I can get a little more insight into what's going on.

[2018-04-09 06:45] funkindy commented on #11
@gfairchild i created fresh vene and installed with --verbose. Got this suspicious error:

--- Logging error ---
Traceback (most recent call last):
  File "c:\users\user\anaconda3\Lib\logging\__init__.py", line 983, in emit
    stream.write(self.terminator)
  File "c:\users\user\envs\new\lib\site-packages\pip\_vendor\colorama\ansitowin32.py", line 141, in write
    self.write_and_convert(text)
  F

[2018-04-09 15:15] gfairchild commented on #11
Is that the *complete* output of `pip install`?

Ok, so from what I can tell right now, it looks like the error is in the installation, not the use, of pyxdameraulevenshtein. We need to figure out how to be able to get you to install this on Windows. As indicated on the readme, you need to be able to compile C code. On Linux/Macs, this is easy. Using the Bash subsystem on Windows (which I'd *highl

[2018-04-10 11:05] funkindy commented on #11
After i cloned the repo and installed from source (python setup.py install) i now get all the things work good. Also there is no crash on `import pyxdameraulevenshtein` as well. It is good in both clean venv and any existing venv as well.

So maybe the bug is somewhere in pypi version difference?

[2018-04-10 14:06] gfairchild commented on #11
That's certainly interesting. The PyPI version is identical to master right now. Nothing has changed. So after trying what I just suggested, you still can't install from PyPI?

[2018-04-11 05:35] gfairchild commented on #11
Very interesting. [NumPy should automatically be installed.](https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/setup.py#L93-L94), but that's clearly not the case. In fact, I just tried it on an empty virtual environment on my PC (using the Ubuntu subsystem on Windows 10), and I can replicate what you're referring to.

I need to fix `setup.py` so that NumPy is properly installed by pi

[2018-09-26 21:02] ArpiJakab opened #12 "Great -> Grreat != Meat -> Meet"
This is a feature request.

It would be useful for me to distinguish between the distance of 1 caused by an extra letter repeated vs. a completely different letter.

In this example:
Meat -> Meet # Distance 1 is okay
Great -> Grreat # Repeating just the letter 'r', so I would like the distance to be less than 1 (0.5?)

[2018-09-27 01:51] gfairchild commented on #12
This is an interesting idea, but it's important to realize that the distance is what the distance is because the whole point of this project is to implement the Damerau-Levenshtein distance, which is computed using very specific rules that don't score those two cases differently. If you're changing the distance value in a specific case, that's no longer the Damerau-Levenshtein distance.

That said

[2018-10-10 05:26] GMishx opened #13 "Unable to install as a setup.py dependency"
In my project when I am trying to install `pyxDamerauLevenshtein` as a run time dependency in my setuptools' `setup.py` file I am getting following error:

[code]

But if I install it as a separate call to pip, it installs successfully:
[code]

setup.py I am using: [setup.py](https://gist.github.com/GMishx/739f15f743c33222438fbbdfe9813caf)

[2018-10-10 05:29] gfairchild commented on #13
I *think* this is the same as #11. Can you `pip install numpy` and see if that fixes it?

[2018-10-10 05:37] GMishx commented on #13
I also tried with that, installing numpy before calling `python3 setup.py install`, but I got the same error.

It is only solved if I run `pip3 install pyxdameraulevenshtein` before calling `python3 setup.py install`.

[2018-10-10 05:39] gfairchild commented on #13
With a completely fresh virtual environment, does `pip install pyxdameraulevenshtein` succeed?

[2018-10-10 05:41] GMishx commented on #13
Yes, it does.

[2018-10-10 05:42] gfairchild commented on #13
Is there a minimal working example of your `setup.py` that you can show me so that I can test this on my end?

[2018-10-10 05:45] GMishx commented on #13
I am working on [atarashi project](https://github.com/fossology/atarashi/). Replace the `setup.py` with this: https://gist.github.com/GMishx/739f15f743c33222438fbbdfe9813caf (as old one is not working fine)

[2018-10-10 05:47] gfairchild commented on #13
Cool, let me play with that tomorrow and see what's going on. I'm guessing it's at least partially related to #11; there's probably something in the way I'm specifying NumPy as a dependency that should be modified.

[2018-10-10 05:52] GMishx commented on #13
But if you see the error here:
[code]

It treats `__builtins__` as dict. So can you try something like **Example 4** here: https://www.programcreek.com/python/example/60953/__builtin__.__NUMPY_SETUP__

[2018-10-10 06:15] GMishx commented on #13
If it helps:
1.  [Failed docker build](https://hub.docker.com/r/gmishx/atarashi/builds/bfchfxbkbdvebjgjywtcpka/)
1.  [Success docker build](https://hub.docker.com/r/gmishx/atarashi/builds/bdagdrlwjweboskfjcatphc/)

[2018-12-21 12:48] chemiron opened #14 "'ValueError: numpy.ufunc has the wrong size, try recompiling' when install pyxDamerauLevenshtein"
**How to reproduce:**
1. `docker run -it --entrypoint=/bin/bash python:3.6` to have a clean environment;
2. pip install numpy pyxdameraulevenshtein
3. call python
4. `>>> import pyxdameraulevenshtein`

**Result:**
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "__init__.pxd", line 885, in init pyxdameraulevenshtein
ValueError: numpy.ufunc has the wrong size, try re

[2018-12-21 21:34] gfairchild commented on #14
I just tried to reproduce this using just a clean Python 3.7 virtual environment and did not get this error:

[code]

However, when I attempt to run it in docker as you did, I get this:

[code]

I'm not quite sure what the difference is here. Something is going on inside the container that's not happening outside of it.

[2018-12-22 05:36] chemiron commented on #14
I think you didn't get the error on clean virtualenv because already had compiled version of NumPy, but the docker image was clean. I guess the main problem there is in `setup.py` since 1.4.1 works fine for the case above.

[2018-12-22 05:41] gfairchild commented on #14
Given the time of year, I unfortunately won't have time to fix this for a little while.  If you can wait, I'll try to revisit this in 1.5 weeks or so. Otherwise, I'd love to take a PR to fix this. I doubt the fix is very complicated, but I just don't have time to diagnose it right now.

[2018-12-27 02:39] YosuaMichael commented on #14
@chemiron I have gotten the same problem. If you need a quick fix my work around is to use python3.7 instead (somehow it works properly in python3.7).

Here what happen in python3.7:
[code]
We can import pyxdameraulevenshtein as expected :)

[2018-12-27 04:17] pyk commented on #14
@YosuaMichael btw, if you install the packages in one line

[code]

the error can be reproduced:

[code]

I think I should add the

[code]

in my Dockerfile before installing all the dependencies

[2018-12-28 10:44] SharpEdgeMarshall commented on #14
We debugged the issue, probably is caused by the fact that you have a fixed `numpy` version in your `requirements.txt` that differs from the latest that is used to build this package during `pip install -r requirements.txt`.
So you'll have a package built with the latest `numpy` and run with another version.

To demonstrate it just do:
- `pip uninstall pyxDamerauLevenshtein`
- `rm -rf ~/.cache/pip

[2018-12-28 11:30] simobasso commented on #14
@gfairchild ⬆️ 😄

[2018-12-28 11:32] simobasso commented on #14
thanks @SharpEdgeMarshall

[2019-01-04 23:30] gfairchild commented on #11
I just modified `setup.py` a bit to actually remove some checks. I've made the decision to expect the user to explicitly install NumPy prior to installing this library. 1.5.1 is now live on PyPI. I *think* this will fix your issue. Can you try and let me know?

[2019-01-04 23:30] gfairchild commented on #13
I just modified `setup.py` a bit to actually remove some checks. I've made the decision to expect the user to explicitly install NumPy prior to installing this library. 1.5.1 is now live on PyPI. I *think* this will fix your issue. Can you try and let me know?

[2019-01-04 23:36] gfairchild commented on #14
A new version, 1.5.1, was just pushed to PyPI. This includes the fix found here. I also decided to simplify `setup.py` a bit. I've made the decision to expect the user to explicitly install NumPy *prior* to installing this library since that seemed to be causing a bunch of issues. 1.5.1 is now live on PyPI. Can you guys try and let me know if everything seems ok? It's working fine on my end:

[cod

[2019-01-05 07:14] cwharland commented on #13
`1.5.1` now throws

[code]

Locking at `1.5` works for us.

[2019-01-05 07:19] cwharland commented on #13
My naive guess would be to float a more specific version of `numpy` for `install_requires`:
https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/setup.py#L81

I'll try that out when I can.

[2019-01-05 07:44] gfairchild commented on #13
Yeah, that's because you need to explicitly install NumPy prior to installing this library. Try this:

[code]

Turns out that trying to get `setup.py` to properly install a dependency like NumPy is a pain in the ass and requires a lot of hacks that are more brittle than I'd like.

[2019-01-07 04:20] GMishx commented on #13
I had to make a nasty hack in [my setup.py](https://github.com/fossology/atarashi/pull/43/files#diff-2eeaed663bd0d25b7e608891384b7298) to install all dependencies using `pip` in a separate `subprocess.run` call. It is working for me now.
I can not make my `setup.py` install everything in a neat way.

[2019-01-07 05:59] gfairchild commented on #13
Yeah, that's precisely the kind of thing I was trying to avoid in my`setup.py` as well. Why not just have a bash script install the necessary dependencies first? That's much cleaner and less brittle. I've seen other libraries do something similar to this one - just expect the user to have dependencies installed before installing the library.

I just wish the `setup.py` framework was more flexible

[2019-01-07 08:47] GMishx commented on #13
pypa guys suggested me to use [PEP 518](https://www.python.org/dev/peps/pep-0518/) but I can not make it run.
https://github.com/pypa/setuptools/issues/1478#issuecomment-433142025

[2019-01-07 18:04] gfairchild commented on #13
I'm going to try the solution in https://github.com/kwgoodman/bottleneck/pull/203. According to PEP 518, if I'm reading it correctly, simply including a `pyproject.toml` file *should* automatically install NumPy correctly. Going to try it now.

[2019-01-07 18:17] gfairchild commented on #13
I just created `pyproject.toml` that contains the following:

[code]

This appears to be working! `pip install .` produces the following output with a completely fresh virtual environment:

[code]

I didn't need to modify `setup.py` at all, which is really nice. Considering one of the first things [`setup.py`](https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/setup.py#L27) does is `i

[2019-01-07 18:32] gfairchild commented on #13
Ok, 1.5.2 is officially live on PyPI. `pip install pyxDamerauLevenshtein` should automatically install NumPy prior to installation.

[2019-01-07 18:34] gfairchild commented on #14
As discussed in #13, 1.5.2 was just pushed, which uses [PEP 518](https://www.python.org/dev/peps/pep-0518/) to install NumPy as a dependency prior to installation. This is working in the Docker use case above as well in a fresh virtual environment. No more hacky `setup.py` code!

[2019-01-07 18:36] gfairchild commented on #11
1.5.2 was just released, which further addresses the NumPy dependency issue. I think this should solve your problem. I'm going to go ahead and close this issue, but please let me know if you're still experiencing this problem with 1.5.2.

[2019-01-07 18:36] #11 closed

[2019-01-07 22:20] gfairchild commented on #8
FYI, I'm actively working on this now. I'm trying to figure out how to build manylinux containers manually (without Travis). https://github.com/pypa/manylinux/issues/73 is where this is going down right now.

[2019-01-07 23:10] gfairchild commented on #8
Making some progress. This primarily comes from https://github.com/pypa/python-manylinux-demo/blob/master/travis/build-wheels.sh.

[code]

With this, I end up with a new directory in the root pyxDamerauLevenshtein directory called `wheelhouse`, and it contains this:

[code]

I don't quite understand the wheel-making process well enough yet to understand why this script is placing NumPy wheels in `

[2019-01-08 03:11] GMishx commented on #13
Thanks for keeping me updated. I will also try it in my project!

[2019-01-08 11:35] GMishx commented on #13
Worked for me as well! https://github.com/fossology/atarashi/pull/48

Thank you @gfairchild and @cwharland for your time and discussion.

[2019-01-08 11:35] GMishx commented on #13
Closing the issue as the problem is resolved.

[2019-01-08 11:35] #13 closed

[2019-01-08 15:49] gfairchild commented on #13
Great! Thanks for the follow-up.

[2019-01-29 13:51] kootenpv commented on #14
I'm still getting this issue with `1.5.2`. `numpy` has been installed before it, it's the last step in the build and I get the same error.

[2019-01-29 16:05] gfairchild commented on #14
What version of pip are you using? Try this:

[code]

[2019-01-29 17:04] simobasso commented on #14
Hey @gfairchild,

the problem is not pip.

The problem is an unversioned numpy as setup requirement.

`requires` in your `pyproject.toml` (also `setup_requires` in `setup.py` before this pull request), satisfied dependencies *before* `pip` graph dependencies.

So if you have a `requirements.txt` like this:

[code]

`pyxdameraulevenshtein` compile against the last version of numpy (1.16.0) which is

[2019-01-29 19:47] kootenpv commented on #14
When I pinned `pyxDamerauLevenshtein==1.5` it was working... sounds like a regression.

[2019-01-29 19:56] gfairchild commented on #14
@kootenpv, can you show me the exact commands and output you get when trying to install?

[2019-01-29 21:06] kootenpv commented on #14
I was doing:

[code]

What is important I guess is that `rasa_core` pins `numpy==1.16.0`.

I pretty much tried matching the numpy to what `pyxDamerauLevenshtein==1.5.2` is listing, but that did not work. I tried pretty much all combinations of numpy, pre and post install

What in the end worked was the above code, but instead of the last line:

[code]

[2019-01-30 07:01] gfairchild commented on #14
Hm, I can't reproduce your error. I did essentially this:

[code]

`rasa_core`'s `requirements.txt` file already installs NumPy 1.16.0, so I just installed pyxDamerauLevenshtein after it, and it worked just fine. You shouldn't need to manually install NumPy unless you're building from source (which you're not).

I can specify a version of NumPy in `pyproject.toml` and `setup.py`, but that shouldn'

[2019-02-12 17:53] gfairchild commented on #14
@kootenpv, are you able to provide a complete working example that I can use to reproduce this bug? I need a bit more information on how to reproduce this before it can be fixed.

[2019-02-25 22:45] gfairchild commented on #14
I found a way to reproduce this in Travis, and I think I've fixed it in 1.5.3, after reading @simobasso's post a little more carefully. I'm now specifying NumPy versions in `pyproject.toml` *and* `setup.py`.

I just pushed 1.5.3 to PyPI. @kootenpv, can you tell me if this fixes your issue?

[2019-02-26 08:48] kootenpv commented on #14
@gfairchild I have updated the version number for next build so we will see :-)

[2019-03-04 06:19] gfairchild commented on #14
I'm going to close this issue. Please let me know if you experience it again, and I can reopen.

[2019-03-04 06:19] #14 closed

[2019-03-07 16:40] kootenpv commented on #14
@gfairchild Took some time to get to it (needed new credits, and a new build), but I can confirm 1.5.4 worked immediately for me.

[2019-03-07 19:35] gfairchild commented on #14
Wonderful! I'm glad to hear it.

[2019-03-11 05:22] SoulEvill opened #16 "would it be possible to add the limit/threshold in the Damerau Levenshtein?"
Can we add a parameter like threshold or limit, if distance is above the threshold then just stop calculation and return? if would be really helpful in some cases, where you need compare the distance in real-time and you don't want waster time if distance is too large.

[2019-03-11 21:33] gfairchild commented on #16
I do like this idea. Let me think on how this would be implemented.

Note that I'm quite busy these days at work, so I won't be able to get to this right away. A PR would be much appreciated.

[2019-04-13 13:23] knwin opened #17 "numpy.dtype error"
I am using Python2.7 of ArcGIS 10.5 (cannot update python version). Installed pyxDamerauLevenshtein (1.5.3) and numpy 1.16.2 in a virtual environment as ArcGIS use numpy 1.9.3 for its core moudles.
When I run, the script run under virtual environment but I got this error..

[code]
_

[2019-04-13 16:26] gfairchild commented on #17
I just tried creating a fresh Python 2.7 virtual environment to try this out, and I got no error:

[code]

Are you positive that you've got the right version of NumPy installed in the venv you're using? Can you repeat the same thing I just did above and show me your output?

[2019-04-18 05:48] knwin commented on #17
Ys I installed numpy 1.16.2 in the virtual virtualenv.
And just I found that, when I run, it imported the numpy from original location, of course older version, outside of virtual env that I cannot upgrade for compatibility with other modules. This happen when I run the script as ArcToolbox. How can I enforce to code to import the right numpy version?

It worked fine now when I run that virtual ev

[2019-04-18 20:48] gfairchild commented on #17
I'm glad you were able to get it working and that it's not a problem on this project's end.

Regarding how to enforce ArcGIS to use the right version of NumPy, I unfortunately can't really help you because I don't have ArcGIS to help with. Is there an ArcGIS forum you can post on to get help? What you really want is for ArcGIS to respect your local virtual environment.

[2019-04-18 21:47] knwin commented on #17
Ys I have posted the question on http://stackoverflow.com/

The reason I am working with virtual environment is that ArcGIS has older numpy and pandas modules come along with ArcGIS installer. I am sure there are certain processing tools in ArcGIS that use these modules. And it does not allow me upgrade numpy and pandas unless it is in virtual environment.

I am creating a tool to match geographic

[2019-04-18 22:11] gfairchild commented on #17
One alternative is that you could just compile pyxDL yourself in whatever environment ArcGIS uses. If you compile it yourself, it'll work against whatever version of NumPy ArcGIS includes. That's probably the simplest thing to do at this point.

[2019-04-19 08:12] knwin commented on #17
Thanks for the advice. But I have not much knowledge on compiling modules except _pip install_. What will be the out come from such compilation? a .DLL file or .pyd?

[2019-04-19 08:13] knwin commented on #17
Anyway I tried after some googling. but got error at end
![pyxCompileErr](https://user-images.githubusercontent.com/6437533/56414713-7ef17e80-62b1-11e9-993a-0f5021de6390.PNG)

[2019-04-19 16:33] gfairchild commented on #17
Ah, you're on Windows - I unfortunately can't really help you with compilation on Windows. :(

[2019-05-23 09:46] kootenpv opened #18 "How to make edits to the source code"
Thanks, it is really cool!

I was trying to make an edit, but I cannot get any effect when I do:

    python setup.py install

I tried deleting all the source files in my virtualenv, including a .so file, but it doesn't make a difference.

Could you tell me what I can do to make a change to the `.pyx` and see the result in a built module?

[2019-05-28 04:47] gfairchild commented on #18
Did you by chance forget to compile the changes you made to the `.pyx` file? My guess is that you need to go into `src/` and `cython pyxdameraulevenshtein.pyx`. This will compile the `.pyx` source into C source. Then, you should be able to run `python setup.py install`, which uses the `.c` source, *not* the `.pyx` source.

[2019-06-13 17:22] SuperSajuuk opened #19 "Cannot install module on Python 3.7"
Hi. I am trying to install this module, but running into an error relating to a numpy import issue?

Python version: 3.7.3 (installed from source)
Numpy: Installed by using `pip install`
OS: CentOS 7.6

This is the error I got from console when running the pip install for this module:
```Original error was: /tmp/pip-build-env-lfix5eze/overlay/lib/python3.7/site-packages/numpy/core/_multiarray_umat

[2019-06-13 17:30] SuperSajuuk commented on #19
Never mind. This was a random permissions issue with the `tmp` folder, I remounted it and the module installed successfully. Sorry for the wasted time!

[2019-06-13 17:30] #19 closed

[2019-06-13 17:42] gfairchild commented on #17
@knwin, were you able to make any progress on this?

[2019-06-25 09:45] knwin commented on #17
no luck. same error
it seems there is a conflict with arcgis core library. The codes run fine outside of ArcGIS in the same python installed by ArcGIS.
`>>> execfile(r'C:\Python27\ArcGIS10.7\venv\pyxdl\Scripts\activate_this.py', {'__file__': r'C:\Python27\ArcGIS10.7\venv\pyxdl\Scripts\activate_this.py'})

Runtime error
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  Fil

[2019-06-25 10:03] knwin commented on #17
Hi gfairchild,

since last time, I migrated to ArcGIS 10.7 but did not install pyxDL untill your message. I came back to github and read your instruction and I installed pyxDL in venv folder with pip. Then I installed Cython too. after the reply post above, I found some clues online that Cython cause this error. So unistalled it and it is working from inside ArcGIS.
Thanks.

[2019-06-25 10:59] knwin commented on #17
![image](https://user-images.githubusercontent.com/6437533/60093153-bc213380-976e-11e9-95ae-7b7a890898a3.png

[2019-06-26 05:36] gfairchild commented on #17
To be clear, you shouldn't actually need Cython. All Cython does is create the C file ([pyxdameraulevenshtein.c](https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/pyxdameraulevenshtein/pyxdameraulevenshtein.c)) from the pyx source ([pyxdameraulevenshtein.pyx](https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/pyxdameraulevenshtein/pyxdameraulevenshtein.pyx)). All you sho

[2019-08-27 17:37] kkawabat opened #20 "is it possible to include a method to return a sequence of edit operations performed similar to editops in python-Levenshtein?"
in [python-Levenshtein](https://github.com/ztane/python-Levenshtein/tree/master/docs) they have a method called `editops` that returns the operations done from the source to the destination.

I feel that this would be useful method for the package.

[2019-12-17 20:18] gfairchild commented on #17
Were you able to get this fixed?

[2019-12-17 20:18] gfairchild commented on #18
Were you able to get this fixed?

[2019-12-17 21:17] kootenpv commented on #18
Yea i remember I got it to work! Your instructions helped I believe. Thanks.

[2019-12-17 21:17] #18 closed

[2019-12-19 15:06] knwin commented on #17
I did not try to use it on ArcGIS after a few attempts. Instead I am using it as stand alone with geopandas to read spatial vector formats. I will try again on ArcGIS as I have upgraded to 10.7 and ArcGIS Pro.

[2020-01-29 15:35] gfairchild commented on #17
I'm going to go ahead and close this issue. Please let me know if you continue to experience problems.

[2020-01-29 15:35] #17 closed

[2020-04-12 00:22] hkandpal commented on #14
I have Python (Version 2.7 and 3.4) and Pandas installed on
Amazon Linux AMI release 2018.03

[ec2-user@ip ~]$ python -V
Python 2.7.16
[ec2-user@ip ~]$ python3 -V
Python 3.5.7

[ec2-user@ip ~]$ pip3 list
Package         Version
--------------- --------
awscli          1.16.105
botocore        1.12.95
colorama        0.3.9
cx-Oracle       6.4.1
Cython          0.29.16
docutils        0.14
ez-setup

[2020-04-12 20:05] gfairchild commented on #14
@hkandpal, I'm not sure how what you posted is relevant to pyxDamerauLevenshtein.

[2020-05-04 05:47] Cireo opened #22 "Distance is one too small if first string is longer"
I looked through the existing bugs and the documentation and didn't see anything pointing this out.  I was also unable to reproduce this with your reference python implementation [here](https://web.archive.org/web/20150909134357/http://mwh.geek.nz:80/2009/04/26/python-damerau-levenshtein-distance/)

[code]

[code]

[2020-05-04 17:03] gfairchild commented on #22
Nice find. I'll try to get to this in a few days (work is insane right now unfortunately).

[2020-05-04 21:07] Cireo commented on #22
No rush, I know the feeling.  Reordering seems to work fine.  One thing to maybe look into is a single https://hypothesis.readthedocs.io/en/latest/data.html?highlight=string#hypothesis.strategies.text test comparing the reference to your fast code, it probably would catch this and nearly anything else that someone could calculate by hand, and not take much effort

[2020-06-19 20:58] BryanKoo opened #24 "Distance between "abc", "abcde" is 2 but between "abcde", "abc" is 1"
I appreciate that this implementation is a great help with array calculation !
I checked distances with simple strings.
I am afraid that I have strange distance calculation results.

damerau_levenshtein_distance('abcde', 'abc') = 1
damerau_levenshtein_distance('abc', 'abcde') = 2

[2020-06-20 18:15] gfairchild commented on #24
Thanks for the report, @BryanKoo. I believe this is the same issue as #22. I'll try to get to this soon because it's definitely a bad bug.

[2020-06-20 18:15] #24 closed

[2020-06-23 09:39] Nikitafff opened #25 "Python 3.5 numpy support"
Hi!
There is an update in numpy 1.19 that doesn't provide a support of Python 3.5.

This line leads to an error in Python 3.5 because of trying to install new 1.19 version.
https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/setup.py#L82
These happens despite the strong equal of 1.16.1 numpy version in requirements.txt

Could you save the support of 3.5?

[2020-06-26 17:24] gfairchild commented on #25
I'll look into this next week, but note that [Python 3.5 support ends in just a few months](https://www.python.org/downloads/), so I'm not sure if I'll want to actually change anything.

[2020-07-13 18:09] gfairchild commented on #25
Yeah, in light of 3.5 support ending shortly, I've decided not to change anything in this project at this time.

[2020-07-13 18:09] #25 closed

[2020-07-27 15:13] svenski commented on #22
Added a patch and two tests to expose this bug, simple swap the variables if the second one is shorter than the first one -- avoiding getting into the implementation details. Feel free to reject if too hacky!

Note, I didn't manage to compile the C file without loads of local path references.

[2020-07-27 15:40] gfairchild commented on #22
This is really great, @svenski. I appreciate the PR. As you can see, I just haven't been able to get around to fixing this myself unfortunately. I'll review this shortly.

[2020-07-27 20:35] gfairchild commented on #22
This is now fixed in 1.6.1, which is live on PyPI. Thanks a bunch, @svenski!

[2020-07-27 20:35] #22 closed

[2020-10-23 12:58] remiadon commented on #20
+1 for this

[2020-12-22 20:05] erb13020 commented on #8
@gfairchild  Has there been any progress on this issue? I'm still trying to figure out how to get this installed on my local machine.

[2020-12-22 20:16] gfairchild commented on #8
Unfortunately not. I haven't had the time to tackle this issue, and I'm not currently using the library myself at this time, so it hasn't been a priority. I'd love a contribution from the community, though!

As long as you have a C compiler, you should be able to `pip install` without much fuss. It'll take maybe an extra minute to install, but it'll work just the same as the pre-compiled wheel.

[2020-12-22 20:22] erb13020 opened #27 "Error Installing through Pip on Python3.7 on Linux Ubuntu 18.04"
I'm unable to install this on my local Linux Ubuntu 18.04 running Python3.7.

My current install process / what I have tried:

Try installing some possible missing dependencies.

Create a fresh new virtual environment for Python3.7

`sudo apt-get install -yqq --noinstall-recommends apt-utils gcc build-essential`

Try upgrading these packages
`python3.7 -m pip install --upgrade pip setuptools wheel

[2020-12-22 20:28] gfairchild commented on #27
Have you tried installing to a local virtual environment rather than the system root environment? That is, something like this:

[code]

What does that get you?

[2021-02-02 06:30] patatepartie opened #28 "Failure with numpy 1.18.4"
We're experiencing a bug with `pyxDamerauLevenshtein` 1.5.3 (any version above, and including, 1.5.2, really), when using it with `numpy` 1.18.4 (or any version between 1.18.4 and 1.20.0).

Here's how to reproduce (using docker):
[code]

This will produce the following error:
[code]

This was working fine until at least last Friday, but started failing without any change on our part.

I'm not sure

[2021-02-02 06:48] patatepartie commented on #28
I missed it before, but this seems very similar to #14, although possibly not a duplicate since that bug was fixed.

[2021-02-08 16:20] gfairchild commented on #28
Thanks for the issue, @patatepartie. I was able to replicate this. A few things:

1. Note that you're using an old version of this library. 1.6.1 is out. If I try to use NumPy 1.18.4 with it, though, it does still throw an error.
2. I think what I'll do is increase the minimum NumPy version in `setup.py` just to make sure everyone is using a compatible version.

[2021-02-08 18:32] gfairchild commented on #28
Ok, I just released a new version of the library (1.6.2) that upped the minimum NumPy version number to 1.19.5. This is passing all CI tests. Can you let me know how this works for you?

[2021-02-08 23:47] patatepartie commented on #28
Thank you, @gfairchild .

Indeed. I did try 1.6.1 (all versions between 1.5.0 and 1.6.1, actually) before submitting the issue, but, as you noted, it has the same problem.

I just tried, using the reproduction steps I listed in this issue (changing the versions to `1.19.5` for numpy and `1.6.2` for pyxDamerauLevenshtein), but it fails with the same error.
It works if I don't install numpy explicit

[2021-02-09 00:23] gfairchild commented on #28
This is really interesting. I'm not quite sure where the incompatibility comes from. I'm hesitant to require NumPy 1.20.x because [1.20.x dropped support for Python 3.6 and requires 3.7+](https://numpy.org/doc/stable/release/1.20.0-notes.html); I'm trying to maintain compatibility with all currently-supported version of Python (3.6 doesn't hit EOL until the end of this year).

I'm still struggling

[2021-02-09 00:53] patatepartie commented on #28
The weird thing is that it happened all of a sudden, without anything related (versions of python, numpy or pyxdameraulevenshtein) changing.
The only thing I can think of is the system packages (build-essential, git, curl, unzip, in our debian-based docker image).

I can only speak for our case: numpy is required by many libraries we use, so having to upgrade it is a pretty big risk.
Having one le

[2021-02-09 12:55] mgorny opened #29 "1.6.2 tag missing on GitHub"
The newest tag is v1.6.1. Could you please push the tag corresponding to 1.6.2 release?

[2021-02-09 16:31] gfairchild commented on #29
Done. Thanks for the reminder!

[2021-02-09 16:31] #29 closed

[2021-02-09 18:49] gfairchild commented on #28
Ok, I just completed the transition away from NumPy. The same functionality exists, but it relies on native Python objects (e.g., `list`, `tuple`) rather than NumPy `ndarray` (the methods have been renamed, as indicated in the [changelog](CHANGELOG.md)). This should make the build process much simpler, and there shouldn't be any meaningful performance loss since we weren't actually using NumPy for

[2021-02-09 18:53] gfairchild commented on #28
Ok, 1.7.0 is live! @patatepartie, would you mind testing when you have a moment?

[2021-02-09 18:56] gfairchild commented on #27
Are you still experiencing this issue? I've released a few new versions in the meantime, and you might try that as well.

[2021-02-09 20:08] baharev opened #30 "ImportError: cannot import name 'damerau_levenshtein_distance_ndarray'"
In the CHANGES.md I read:

Simply claiming that you broke my code is not helpful. I noticed.

Please document better how you broke the code that relies on it.

Also, please provide a migration plan.

Thanks in advance.

[2021-02-09 20:10] gfairchild commented on #30
Sorry about that. I'm a one-man development team (I take care of this project in my off-time for free), and the NumPy issue has been a challenge for a number of people for a while now. It was easier for me to remove it, and I don't have the resources to have a fancier migration plan.

[2021-02-09 20:18] gfairchild commented on #30
Ok, I added a bit more detail in the changelog with examples of how to modify code for these new methods. Again, sorry about that.

[2021-02-09 20:18] baharev commented on #30
OK, I understand. I did not mean anything fancy. Something like: rename `damerau_levenshtein_distance_ndarray` to `damerau_levenshtein_distance_seq`, and call `np.array()` with the return value to get the old behavior. Would this work?

I cannot try it myself at the moment. I messed up my environment due to this issue.

[2021-02-09 20:19] gfairchild commented on #30
Sorry, I didn't mean for that to happen. Does the text I added in the changelog clarify?

[2021-02-09 20:22] baharev commented on #30
OK, I see. My problem is with the returned value. As far as I can tell, that used to be an `np.array`. If I can convert the new returned value to an `np.array` by simply calling `np.array`, then it is a trivial change in the broken code. Unfortunately, I cannot try it now, sorry. So would this work?

Thanks!

[2021-02-09 20:23] gfairchild commented on #30
Ah, good point. Yes, simply passing the return value to an `np.array` will indeed fix it for you. I'll mention that in the changelog as well.

[2021-02-09 20:26] baharev commented on #30
Please do. That's all what I meant by migration plan: Rename the function to `damerau_levenshtein_distance_seqs`, and call np.array() with the returned value. It is a trivial change if it is documented.

Thanks!

[2021-02-09 20:26] gfairchild commented on #30
Done. It's all spelled out in the changelog now.

Thanks very much for the suggestions, and I apologize again for the unexpected breakage.

[2021-02-09 20:26] #30 closed

[2021-02-09 20:29] baharev commented on #30
Thank you for the prompt reply and for this package!

[2021-02-09 20:39] gfairchild commented on #30
My pleasure! Apologies again for the headache.

[2021-02-10 02:45] patatepartie commented on #28
Thank you, @gfairchild 👍🏻 , especially for your responsiveness!

I tested with the reproduction steps above (without installing numpy first), and by running our unit test: everything seems ok.

We can close this issue!

[2021-02-10 02:45] #28 closed

[2021-02-18 17:54] gfairchild commented on #27
I'm going to go ahead and close this issue since I'm not receiving any feedback.

[2021-02-18 17:54] #27 closed

[2021-12-15 22:04] xzy3 opened #31 "PEP561 type stubs for mypy"
I've written the needed pyi files to type the library. It looks like it would take some pretty big changes to the package structure to make it work with side by side stubs. Would you prefer I keep trying to get it to work side by side? I can also make a stub-only package and give it to you to upload separately? Or would you prefer something else?

[2021-12-29 00:30] gfairchild commented on #31
Thanks for your patience!

I admittedly have never heard of mypy before. I'm familiar with [Python's built-in typing](https://docs.python.org/3/library/typing.html). Can you give me a brief rundown of what all your proposed changes entail, perhaps with some examples?

[2021-12-29 22:43] xzy3 commented on #31
Mypy is one of the static type checkers that use the type annotations. All I did was create the pyi typing stubs which describe an interface's types. Sort of like a C header file. The pyi files are mainly for backporting types into older packages. But since none of the type-checkers do analysis of Cython code directly they are also useful for providing typing information in that case. There's two

[2022-01-06 15:28] maxbachmann opened #32 "reproducing benchmark results"
I tried to reproduce the benchmarks in your readme. However my results running the same benchmark are greatly different from the results you achieved.
On Python 3.9 I get:
[code]
and on Python2.7:
[code]

So the performance differences in your benchmarks appear to differentiate by one order of magnitude for both `pyxdameraulevenshtein <-> Michael Homer's implementation` and `pyxdameraulevenshtein

[2022-01-06 21:30] gfairchild commented on #32
I'm seeing similar performance as you:

[code]

It could be that the `difflib` implementation was improved to be much faster. Or something changed in the CPython interpreter. Or I inadvertently introduced some performance regression. Not sure.

[2022-01-06 21:33] gfairchild commented on #31
Sorry for the slow responses here!

Can you show me some examples of the changes you made? I see your fork [here](https://github.com/xzy3/pyxDamerauLevenshtein), but it looks to be current with the `master` branch on this project. I'm really curious to see how this works in practice.

[2022-01-06 21:43] xzy3 commented on #31
[code]
That's pretty much the whole thing as far as code goes. The problem is I haven't really figured out how to package this file up into the project correctly. If this is made as a stub package you really just need to put this in an `__init__.pyi` in it's own project with a specific file structure and upload it to pypi. There isn't much guidance for side by side installation of interface files

[2022-01-06 21:50] gfairchild commented on #31
Do we actually even need an interface file, though? Can we not just put it directly in [pyxdameraulevenshtein.pyx](https://github.com/gfairchild/pyxDamerauLevenshtein/blob/master/pyxdameraulevenshtein/pyxdameraulevenshtein.pyx)? I haven't tried it myself yet, but [it looks like Cython supports static type definitions](https://docs.cython.org/en/latest/src/tutorial/pure.html#static-typing). I'd nee

[2022-01-06 21:52] xzy3 commented on #31
As far as I know the Python typing system and Cython typing system are separate. Mypy et al. don't really deal with Cython types. I'll keep working on it when I get a chance and try and figure out the packaging stuff.

[2022-01-06 21:53] gfairchild commented on #31
Thanks! I look forward to seeing what you discover.

[2022-01-09 21:50] xzy3 commented on #31
Ok got to it faster than I expected. I just made a second stubs package in the same repo. So now you have to push to pypi once in the main directory, then move to type-stubs and upload from there too. I have it in my fork if you want to look at it. I'll do a pull request if this mechanism works for you.

[2022-01-21 17:32] gfairchild commented on #31
Looks very simple actually! Would you mind creating a PR?

[2022-04-18 00:34] Royhightowerjrecho opened #35 "New portal"
Git boo butt out

[2022-04-18 23:54] #35 closed

[2022-09-04 09:03] juliangilbey opened #36 "Clarify that pyxDamerauLevenshtein calculates the restricted Damerau-Levenshtein distance"
There are two different distances called Damerau-Levenshtein (see the [Wikipedia page](https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance), for example), one is the restricted distance and the other is the original one, the unrestricted distance. pyxDamerauLevenshtein calculates the restricted distance (so the distance between "CA" and "ABC" is 3, not 2).  It would be good for this

[2022-09-16 13:32] maxbachmann commented on #36
This is actually documented:

Optimal string alignment (OSA) is what you call restricted damerau levenshtein distance

[2022-09-16 13:52] maxbachmann commented on #32
I finally did come around to implement the optimal string alignment distance in [RapidFuzz](https://github.com/maxbachmann/RapidFuzz) and compare the performance.

![osa](https://user-images.githubusercontent.com/44199644/190652608-445291ab-29d0-4a83-b747-0f21d6e7b944.svg)

I expected it to be faster due to the better time complexity (`O(N*M)` vs `O([N/64]*M)`). However in addition `pyxDamerauLeve

[2022-09-16 15:19] gfairchild commented on #36
I'm just now getting to this, and I agree with @maxbachmann. "Optimal string alignment" and "restricted distance" are synonymous.

[2022-09-16 15:19] #36 closed

[2022-09-16 15:21] gfairchild commented on #32
I honestly don't really have the time to maintain this library because I'm no longer using it in my research, so I'm admittedly not quite sure why performance is dropping off like this. At the time I wrote it, it was by far the most performant DL distance library for Python (and the only one that supported unicode), but this is clearly not the case anymore.

[2022-09-18 11:33] juliangilbey commented on #36
Ah, OK.